body {
    font-family: 'Montserrat', sans-serif;
    background: #37353b;
    color: #e5e5e5;
}

.container-main {
    display: flex;
    width: 940px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container-advice {
    padding: 1.2em;
    width: 100%;
    height: 20em;
    background: #312f35;
    border: 1px solid #312b3b;
    border-radius: 1em;
    justify-content: center;
    box-shadow: 1px 1px 7px #18181885;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-advice h4{
    font-size: 3em;
}

.container-advice small{
    font-size: 2em;
}

.btn-advice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27242b;
    color: #e5e5e5;
    border: 1px solid #222123;
    box-shadow: 1px 1px 7px #18181885;
    min-width: 14em;
    min-height: 2em;
    max-width: 14em;
    max-height: 2em;
    font-size: 1.2em;
    border-radius: 0.8em;
}